{{^inline}}
<div class="loading-spinner text-center">
  <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-20"></i>
  <span class="sr-only">Loading...</span>
</div>
{{/inline}}
{{#inline}}
  <span class="loading-spinner">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-20"></i>
    <span class="sr-only">Loading...</span>
  </span>
{{/inline}}
