/*
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

// Color Modifiers
.btn-neutral,
.btn-neutral:link,
.btn-neutral:visited {
  color: @btn-neutral-color;
  background-color: @btn-neutral-bg;
  border-color: @btn-neutral-border;
}

.btn-neutral:hover,
.btn-neutral:active {
  color: @btn-neutral-color-hover;
  background-color: @btn-neutral-bg-hover;
  border-color: @btn-neutral-border-hover;
}

// Form Modifiers
.btn.btn-pill {
  border-radius: 9999px;
}
