/*!
 * Copyright (c) 2022, 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '../../_components/cards.less';

.card {
  box-shadow: 0 0 10px #e6e6e6;
  padding: 4rem;

  &-logo {
    max-width: 26rem;
    height: 8rem;
    margin-bottom: 4rem;
  }

  &-logo img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  
  // Modifiers
  &.card-bordered {
    border: 1px solid #e6e6e6;
  }
}

