{{#item}}
  <li class="members-item members-item-only-logos flex-center flex-column">
    <a target="_blank" href="{{urlLinkToLogo}}" class="flex-center link-unstyled">
      {{#logos.web}}
        <img alt="{{name}}" class="img-responsive" src="{{logos.web}}">
      {{/logos.web}}
      {{^logos.web}}
        <span class="logo-placeholder-text">{{name}}</span>
      {{/logos.web}}
    </a>
    {{#showLevelUnderLogo}}
      <span>
        {{showLevelUnderLogo}}
      </span>
    {{/showLevelUnderLogo}}
  </li>
{{/item}}
