/*
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *    Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.featured-download {
  text-align: center;

  &-logo {
    margin: 2rem 0;
  }

  &-logo img {
    width: 8rem;
  }

  &-other-links {
    margin: 2rem;
  }

  .btn-neutral {
    &,
    &:link,
    &:visited {
      color: @black;
      background-color: @white;
      border-color: @white;
    }

    &:hover,
    &:active {
      color: @black;
      background-color: #aaa;
      border-color: #aaa;
    }
  }
}

