/*
 * Copyright (c) 2018 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.featured-story {
  position:relative;
  z-index:1;
  background-color:@white;
  overflow:hidden;
  @media (max-width: @screen-xs-max) {
    text-align:center;
  }
  
  .featured-story-block-content{
    position: initial;
    margin-bottom:30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom:0;
      padding-right:35px;
    }
    &:before {
      background-color:#fff;
      background-image:@featured-story-bg-img;
      background-position:bottom;
      background-size:cover;
      content:"";
      display:block;
      min-height:100%;
      position:absolute;
      top:0;
      width:100%;
      z-index:-1;
      left:0;
      @media (min-width: @screen-sm-min) {
        width:65vw;
      }
    }
  }
}

.featured-story-description {
  color:@featured-story-ad-p-color;
  font-size:@featured-story-ad-p-size;
  margin-top:5px;
  clear:both;
  padding-top:10px;
  margin-bottom:10px;
}

.featured-story-block, .featured-ad{
  padding-top:25px;
  @media (min-width: @screen-sm-min) {
    padding-top:30px;
    min-height:250px;
  }
}

.featured-story-block {
  .featured-story-description {
    font-size:0.9em;
    margin-bottom:10px;
  }
  background-position:top right;
  background-repeat:no-repeat;
  background-color:@featured-story-bg-color;
  @media (min-width: @screen-sm-min) {
    padding-bottom:50px;
  }
  h2 {
    color:@featured-story-h2-color;
    margin-top:30px;
    font-size:42px;
    font-weight:@featured-story-h2-weight;
  }
  p {
    font-size:@featured-story-p-size;
    font-weight:400;
    margin-bottom:20px;
  }
}

.featured-ad-content, .featured-side-content{
  clear: both;
}

.featured-side, .featured-ad {
  position:relative;
  background-color:@featured-story-ad-bg-color;
  padding-bottom:20px;
  @media (min-width: @screen-sm-min) {
    .featured-side-content, .featured-ad-content{
      z-index:2;
      width:100%;
      position:relative;
      right:15px;
    }
    &:before, &:after {
      content: "";
      position: absolute;
      min-height: 100%;
      top:0;
      background-color:@featured-story-ad-bg-color;
    }
    &:before {
      width: 100px;
      z-index: 1;
      left: -45px;
      .clip-path-shape(@featured-story-ad-shape);
    }
    &:after {
      width: 50vw;
      z-index: 1;
      left: 0;
      overflow-x: hidden;
    }
  }
}

.eclipsefnd-ad {
  &:after {
    clear:both;
    content:" ";
    display:table;
  }
  a{
    .box-shadow(3px 4px 46px -6px rgba(0,0,0,0.51));
    background: #fff 50% no-repeat;
    height: 200px;
    width: 200px;
    display: block;
    text-align: center;
    text-indent: -9999px; 
    margin:auto;
  }
}

.ad-strategic-default a{
  background-size: 200px 200px;
}