{{#section}}
<div class="col-md-14 col-lg-17">
    {{#validateURL}}
    <a class="member-detail-logo-link" href="{{website}}" title="{{name}}" target="_blank">
    {{/validateURL}}
        {{#logos.web}}
            <img src="{{logos.web}}" alt="{{name}} logo" title="{{name}}" class="img-responsive padding-bottom-25" />
        {{/logos.web}}
        {{^logos.web}}
            <h1>{{name}}</h1>
        {{/logos.web}}
    {{#validateURL}}
    </a>
    {{/validateURL}}
    <p><i>Member since {{ memberSince }}</i></p>

    <p>{{{trimDescription}}}</p>

    <hr class="margin-top-60 margin-bottom-40">

    {{#workingGroups.length}}
      <h2>Working Group Membership</h2>
      <ul class="member-detail-working-group-list logo-list logo-list-lg margin-top-30 margin-bottom-60">
        {{#workingGroups}}
          <li>
            <a class="link-unstyled flex-center h-100" {{#resources.website}}href="{{resources.website}}"{{/resources.website}}>
              {{#logo}}
                <img src="{{logo}}" alt="{{title}}">
              {{/logo}}
              {{^logo}}
                <p class="logo-placeholder-text">{{title}}</p>
              {{/logo}}
            </a>
          </li>
        {{/workingGroups}}
      </ul>
    {{/workingGroups.length}}
    {{#interestGroups.length}}
      <h2>Interest Group Membership</h2>
      <ul class="member-detail-interest-group-list logo-list logo-list-lg margin-top-30 margin-bottom-60">
        {{#interestGroups}}
          <li>
            <a class="link-unstyled flex-center h-100" 
              {{#resources.website}}href="{{resources.website}}"{{/resources.website}}
              {{^resources.website}}href="https://projects.eclipse.org/node/{{id}}"{{/resources.website}}
            >
              {{#logo}}
                <img src="{{logo}}" alt="{{title}}">
              {{/logo}}
              {{^logo}}
                <p class="logo-placeholder-text">{{title}}</p>
              {{/logo}}
            </a>
          </li>
        {{/interestGroups}}
      </ul>
    {{/interestGroups.length}}

    {{#listings}}
    <h2>{{name}}&apos;s Marketplace Listings</h2>
    <ul>
    </ul>
    {{/listings}}
</div>
<div class="col-md-10 col-lg-7">

    <div style="border:1px solid #eee; padding:10px" class="margin-bottom-20">
        <img class="member-detail-level-img img-responsive" src={{getMemberLevelImg}} />
    </div>

    {{#projects.length}}
    <div class="text-highlight margin-bottom-20">
        <i class="fa pull-left fa-trophy orange fa-4x margin-top-10 margin-bottom-25"></i>
        <h3 class="h5 fw-700">{{name}}</h3>
        <p>{{name}} contributes to one or more <a href="#projects">Eclipse Projects!</a></p>
    </div>
    {{/projects.length}}

    {{#shouldShowLinksSideBar}}
    <div class="sideitem">
        <h6>Links</h6>
        <ul class="fa-ul">
            {{#products.length}}
            <li>
                <i class="fa-li fa fa-chevron-circle-right orange"></i>
                {{name}}&apos;s Other Products and Services:
                <ul>
                {{#products}}
                <li class="member-detail-product"><a href="{{url}}" target="_blank">{{name}}</a></li>
                {{/products}}
                </ul>
            </li>
            {{/products.length}}
            {{#projects.length}}
            <li>
                <i class="fa-li fa fa-chevron-circle-right orange"></i>
                {{name}} is an Active Contributor to the following Project(s):
                <ul>
                {{#projects}}
                    {{#active}}
                    <li class="member-detail-project"><a href="https://projects.eclipse.org/projects/{{id}}" target="_blank">{{name}}</a></li>
                    {{/active}}
                {{/projects}}
                </ul>
            </li>
            {{/projects.length}}
        </ul>
    </div>
    {{/shouldShowLinksSideBar}}

    <div class="sideitem">
        <h6>Interact</h6>
        <ul class="fa-ul">
            <li>
                <i class="fa-li fa fa-chevron-circle-right orange"></i>
                <a href="https://membership.eclipse.org/portal/org-profile">Edit This Page</a>
            </li>
        </ul>
    </div>
</div>
{{/section}}
