/*
 * Copyright (c) 2022, 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/
@import '../../_components/classes.less';


//== Layouts
.break-container {
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    width: 100vw;
}

.break-container-reset {
    position: unset;
    left: unset;
    width: unset;
}

.equal-height {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: @screen-sm-min) {
    .equal-height-sm {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: @screen-md-min) {
    .equal-height-md {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: @screen-lg-min) {
    .equal-height-lg {
        display: flex;
        flex-wrap: wrap;
    }
}

//== Colors

.text-primary-light,
.dark .text-primary-light,
.featured-section-row-dark-bg .text-primary-light {
  color: @brand-primary-light;
}

// Quick and easy way to make links appear decent on most background colors.
// Used in situations where our base style colors do not match with the
// background.
a.multiply-link,
.multiply-link a {
  mix-blend-mode: multiply;
  text-decoration: underline;
}

//== Backgrounds

// These neutral backgrounds are specific to the current look and feel of
// eclipse.org.
.bg-primary-light {
  background-color: @brand-primary-light;

  &.bg-hover-darker:hover {
    background-color: @brand-primary-light-darker;
  }
}

.bg-neutral-flat {
  background-color: @neutral-flat;

  &.bg-hover-darker:hover {
    background-color: @neutral-flat-darker;
  }
}

.bg-neutral-flat-dark {
  background-color: @neutral-flat-dark;

  &.bg-hover-darker:hover {
    background-color: @neutral-flat-dark-darker;
  }
}

.bg-neutral-flat-dark-darker {
  background-color: @neutral-flat-dark-darker;
}

.bg-neutral-tinted {
  background-color: @neutral-tinted;

  &.bg-hover-darker:hover {
    background-color: @neutral-tinted-darker;
  }
}

//== Typography
.font-bold {
    font-weight: 600;
}

.break-spaces {
  white-space: break-spaces;
}

.text-wrap,
.btn.text-wrap {
  white-space: normal;
}

