/*!
 * Copyright (c) 2018 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

// Forums styles

@import "~bootstrap/less/bootstrap.less";
@import "_variables.less";
@import '~@fortawesome/fontawesome-free/less/v4-shims.less';
@import '~@fortawesome/fontawesome-free/less/fontawesome.less';
@import '~@fortawesome/fontawesome-free/less/regular.less';
@import '~@fortawesome/fontawesome-free/less/solid.less';
@import '~@fortawesome/fontawesome-free/less/brands.less';
@import '../_components/back-to-top.less';
@import '../_components/breadcrumb.less';
@import '../_components/bootstrap/badges.less';
@import '../_components/bootstrap/buttons.less';
@import '../_components/bootstrap/media.less';
@import '../_components/bootstrap/tabs.less';
@import '_default/template.less';
@import '../_components/classes.less';
@import 'template.less';

main {
  padding-top: 0;
}

#novaContent {
  .reset-box-sizing ();
  color: #000;
  font-size: 13px;
  img {
    vertical-align: initial;
  }

  table {
    width: 100%;
    max-width: 100%;
    > thead , > tbody , > tfoot {
      > tr {
        > th , > td {
          padding: @table-cell-padding;
          line-height: @line-height-base;
          vertical-align: top;
        }
      }
    }

    > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #fff;
    }

    th {
      text-align: center;
      .background-charcoal;
      border: 1px solid #ccc;
      a , a:link , a:visited {
        color: @brand-warning;
      }

      a:hover , a:active {
        color: #fff;
      }

      &.wa {
        text-align: left;
      }
    }

    > caption + thead , > colgroup + thead , > thead:first-child {
      > tr:first-child {
        > th , > td {
          border-top: 0;
        }
      }
    }

    > tbody + tbody {
      border-top: 2px solid #fff;
    }

    .table {
      background-color: @body-bg;
    }
  }

  td.al , td.GenText , td.vt {
    border: none;
  }

  .clearer {
    clear: both;
  }

  .ForumBackground {
    border: 0;
    font-size: 13px;
    #midcolumn {
      padding-left: 0;
      font-size: 13px;
    }

    .sideitem {
      font-size: 13px;
    }

    table {
      font-size: 13px;
    }
  }

  td.header {
    padding: 0;
  }

  a.CatLink {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }

  .CatDesc {
    color: #000;
    height: 23px;
    background: #ccc;
    padding-left: 5px ! important;
  }

  a.UserControlPanel , a.UserControlPanel:visited {
    text-decoration: none;
  }

  div.UserControlPanel {
    margin-bottom: 5px;
    text-align: right;
  }

  .CatLockedName {
    font-size: 14px;
    font-weight: bold;
  }

  .CatLockPad {
    padding-left: 20px;
  }

  .GenText , .MsgIg , td.repI {
    color: #000;
  }

  .GenTextRed {
    color: red;
  }

  .ErrorText {
    color: red;
    font-weight: bold;
  }

  .SmallText , .DateText , .TopBy , td.permYES , td.permNO {
    color: #202020;
    a:link , a:visited {
      color: @brand-primary;
    }

    a:hover {
      color: @brand-warning;
    }

    font-size: 10px;
  }

  .RowStyleA , td.tt {
    background: #eee;
    border-bottom: solid;
    border-color: #dee2e6;
  }

  .RowStyleA.wo {
    border: none;
  }

  .RowStyleB {
    background: #dee2e6;
  }

  .RowStyleC {
    background: #c2cdd6;
  }

  .MsgToolBar {
    background: #dee2e6;
    padding-left: 3px;
    padding-right: 3px;
  }

  .MsgSpacer {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 0;
    padding-right: 0;
  }

  font.ptp {
    font-size: smaller;
    padding-left: 10px;
  }

  .DialogTable {
    width: 66%;
  }

  .PreviewTable {
    width: 75%;
  }

  .AnnText {
    color: #000;
    background: #f5d300;
  }

  .AnnSubjText {
    font-weight: bold;
  }

  .MsgSubText {
    font-weight: bold;
    font-size: 13px;
  }

  a.MsgSubText , a.MsgSubText:visited {
    color: black;
    text-decoration: none;
  }

  .MsgBodyText {
    font-size: 13px;
  }

  .FormattingToolsBG {
    background: #000;
  }

  .FormattingToolsCLR {
    background: #fff;
  }

  .MiniTable {
    background: #fff;
    border: 0;
    padding: 0;
    margin: 0;
  }

  cite {
    color: #202020;
    font-size: 11px;
    font-weight: bold;
    margin-left: 20px;
    display: block;
    background: transparent url('../images/forums/quote.gif') left top no-repeat;
    padding-left: 25px;
  }

  blockquote {
    color: #444;
    background: #fafafa;
    border-left: 1px dashed #c2cdd6;
    margin: 8px 1px 0 20px;
    overflow: hidden;
    padding: 5px;
  }

  blockquote:first-letter {
    margin: .2em .2em .1em 0;
    font-family: "Monotype Corsiva", "Apple Chancery", fantasy;
    font-size: 220%;
    font-weight: bold;
    font-variant: small-caps;
  }

  blockquote blockquote {
    background-color: #f0f0f0;
    margin: 8px 1px 0 10px;
  }

  blockquote blockquote blockquote {
    background-color: #e0e0e0;
  }

  .quote {
    color: #444444;
    background: #FAFAFA;
    border: 1px solid #c2cdd6;
  }

  .dashed {
    border: 1px dashed #1b7cad;
  }

  .adminColor {
    font-weight: bold;
    color: #f00;
  }

  .modsColor {
    color: #0b0;
    font-weight: bold;
  }

  .brdrNormal , td.tabItop , td.tabImid , td.tabIbot {
    border: #000;
    border-style: solid;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    background-repeat: repeat;
    background-position: top;
  }

  .brdrSelected , td.tabAmid , td.tabAmid , td.tabAbot {
    border: #000;
    border-style: solid;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    background-repeat: repeat;
    background-position: top;
  }

  form {
    padding: 0;
    margin: 0;
  }

  img {
    border: 0;
  }

  a[href ^= "mailto:"] {
    background: url(../images/forums/email.png) no-repeat right center;
    padding-right: 17px;
  }

  .StClr {
    font-weight: bold;
    color: green;
  }

  .AnClr {
    font-weight: bold;
    color: red;
  }

  .ModOpt , .ModOpt a {
    color: #a8b1b8;
    margin-top: 2px;
    font-size: small;
    text-align: right;
  }

  .TopBy {
    margin-top: 3px;
    margin-bottom: 0;
    padding-right: 2px;
    text-align: right;
  }

  .MsgR2 , .MsgR1 , .MsgR3 , .MsgIg {
    background: #dee2e6;
    border-bottom: none;
    padding: 2px;
  }

  .MsgIg {
    border: 0;
  }

  .MsgR1 {
    background: #ccd4dc;
  }

  .MsgR3 {
    background: #f4f4f4;
    padding: 1ex;
    padding-top: 2ex;
  }

  .mnavMsg {
    border-bottom: 1px dashed #eee;
    width: 100%;
  }

  .mnavWarnTbl {
    border: 1px dashed red;
  }

  .mnavNoRes {
    border: 1px dashed blue;
  }

  font.lg {
    font-size: 14px;
  }

  td.tt {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  table.tt {
    width: 100%;
    padding: 1px;
    margin: 0;
    text-align: center;
    border: 1px solid #000;
  }

  a.big:link , a.big:active , a.big:visited {
    font-size: 15px;
  }

  .small , a.small:link , a.small:active , a.small:visited {
    font-size: 13px;
    font-weight: normal;
  }

  td.msgud , td.msgot , td.msgot a , div.ctags {
    color: #202020;
    font-size: 11px;
    vertical-align: top;
    width: 33%;
    white-space: nowrap;
  }

  td.msgud {
    padding-right: 10px;
    text-align: left;
  }

  td.msgot {
    text-align: right;
  }

  div.ctags {
    padding: 2px;
    width: 100%;
  }

  th.SelTS , th.SelFS {
    padding: 6px 8px;
    color: #fff;
    .background-charcoal;
    a , a:link , a:visited {
      color: @brand-warning;
    }

    a:hover , a:active {
      color: #fff;
    }

    text-align: left;
  }

  th.SelFS {
    border-bottom: 1px solid #fff;
    color: #fff;
  }

  td.NoAvatar {
    background: #f4f4f4;
    text-align: center;
  }

  td.Av1 , td.Av2 {
    text-align: center;
    background: #f4f4f4;
    vertical-align: middle;
    white-space: nowrap;
  }

  td.Av2 {
    background: #fefefe;
  }

  td.tabI , td.tabA , td.tabI:hover , td.tabOVER , td.tabON {
    border: 1px solid black;
    background: #dee7f7;
    padding: 2px;
  }

  td.tabOVER , td.tabI:hover , td.tabI:active {
    background: #fff;
  }

  td.tabON {
    background: #5279bd;
  }

  a.tabON:link , a.tabON:active , a.tabON:visited , a.tabON:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  div.tabT {
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }

  table.tab {
    border-bottom: 1px solid #000;
  }

  td.pmSn {
    background: #fff;
  }

  td.pmSa {
    background: #fffa00;
  }

  td.pmSf {
    background: red;
  }

  table.pmDu {
    width: 175px;
    background-color: #fff;
    border: 1px #c2cdd6 solid;
  }

  td.mvTc {
    background: #e5ffe7;
  }

  td.pmNav {
    background: #fff;
    text-align: right;
  }

  td.miniMH {
    text-align: center;
  }

  tr.mnavH {
    background: #eee;
  }

  tr.mnavM {
    background: #dee2e6;
  }

  table.regConf {
    width: 80%;
    border: 1px dashed #f00;
  }

  font.anon , font.reg {
    color: #0a0;
  }

  td.permYES , td.permNO {
    text-align: center;
    color: red;
    white-space: nowrap;
  }

  td.permNO {
    color: blue;
  }

  font.regEW {
    font-size: xx-small;
    color: #050;
    font-weight: bold;
  }

  td.repI {
    padding: 5px;
    padding-left: 20px;
  }

  table.pad {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  font.selmsgInd {
    font-size: xx-small;
    font-weight: bold;
    text-decoration: none;
  }

  td.avatarPad {
    padding-right: 3px;
    vertical-align: top;
  }

  div.pre {
    font-family: monospace;
    padding: 5px;
    border: 1px blue dashed;
    font-size: 14px;
    white-space: pre;
    background: #fafafa;
    overflow: auto;
    margin: 5px;
  }

  pre {
    white-space: pre-wrap;
  }

  .codehead , .codehead a {
    color: #202020;
    background: #e9e9e9;
    font-size: xx-small;
    font-weight: bold;
  }

  html pre.prettyprint {
    border: none;
    padding: 0;
    margin: 5px;
  }

  a.big:active , a:active , a.CatLink:active , a.UserControlPanel:active , a.thLnk:active , a.small:active , a.PagerLink:active , a.MsgSubText:active {
    color: #dc143c;
  }

  img.l {
    float: left;
    clear: right;
    margin: 3px;
  }

  img.r {
    float: right;
    clear: left;
    margin: 3px;
  }

  .AttachmentsList {
    margin-left: 0;
    list-style: none;
    margin-top: 10px;
    padding: 0;
  }

  .signature {
    border-top: 1px dotted #a0a0a0;
    color: #202020;
    font-size: 10px;
  }

  td.header {
    .headtitle {
      .h1;
    }

    a:link , a:visited {
      color: #333;
    }

    a:hover , a:active {
      color: @brand-warning;
    }
  }

  #headsearch {
    float: right;
    font-size: small;
    font-weight: bold;
    vertical-align: top;
  }

  .headbutton {
    .btn;
    .btn-primary;
  }

  .resizable-textarea .grippie {
    height: 9px;
    background: #eee url('../images/forums/grippie.gif') no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
    overflow: hidden;
  }

  .wo {
    width: 1px;
  }

  .wa {
    width: 100%;
  }

  .al {
    text-align: left;
  }

  .ar {
    text-align: right;
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
  }

  .ac {
    text-align: center;
  }

  .vb {
    vertical-align: bottom;
  }

  .vt {
    vertical-align: top;
  }

  .vm {
    vertical-align: middle;
  }

  .nw {
    white-space: nowrap;
  }

  .fb {
    font-weight: bold;
  }

  .clear {
    clear: both;
  }

  img.at {
    float: left;
    clear: left;
  }

  div.sr {
    float: left;
    padding: 5px;
  }

  div.ctb {
    th {
      border: 1px solid #ccc;
    }

    .RowStyleC {
      display: none
    }
  }

  div.foot {
    padding: 3px;
    margin: 3px;
  }

  div.ip {
    overflow: auto;
    margin: 0;
    padding: 2px;
    width: 600px;
    height: 400px;
  }

  span.vt {
    padding-left: 20px;
  }

  table.icqCP {
    font-family: arial, sans-serif;
    font-size: smaller;
    border: 0;
  }

  div.pmL {
    padding-top: 2px;
  }

  table.ucPW {
    width: 175px;
  }

  .st0 {
    background-color: #ff6;
  }

  .st1 {
    background-color: #a0ffff;
  }

  .st2 {
    background-color: #9f9;
  }

  .st3 {
    background-color: #f99;
  }

  .st4 {
    background-color: #f6f;
  }

  .st5 {
    background-color: #800;
  }

  .st6 {
    background-color: #0a0;
  }

  .st7 {
    background-color: #886800;
  }

  .st8 {
    background-color: #004699;
  }

  .st9 {
    background-color: #909;
  }

  table.calendar {
    border-left: 1px solid #999;
  }

  tr.calendar-row {
  }

  td.calendar-day {
    min-height: 80px;
    font-size: 11px;
    position: relative;
  }

  * html div.calendar-day {
    height: 80px;
  }

  td.calendar-day:hover {
    background: #eceff5;
  }

  td.calendar-day-np {
    background: #eee;
    min-height: 80px;
  }

  * html div.calendar-day-np {
    height: 80px;
  }

  td.calendar-day-head {
    background: #ccc;
    font-weight: bold;
    text-align: center;
    width: 120px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
  }

  div.day-number {
    background: #999;
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -25px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    width: 20px;
    text-align: center;
  }

  td.calendar-day , td.calendar-day-np {
    width: 120px;
    padding: 5px 25px 5px 5px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
  }

  input.button:link , input.button:visited , input.button {
    .btn;
    .btn-primary;
  }

  .small.button {
    .btn-sm;
  }
}

