/*
 * Copyright (c) 2018 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

// Buttons styles
// Default buttons styles

.share-button {
  padding: 5px;
  display: block;
  color: #fff;
  width: 24px;
  height: 24px;
  &:hover, &:visited, &:active, &:focus {
    color:@white;
  }
  .fa {
    font-size:13px;
  }
}

.share-button-twitter {
  background-color:#1da1f2;
}

.share-button-facebook {
  background-color:#3b5998;
}

.share-button-mail {
  background-color:#949494
}

@media (max-width: @screen-sm-min) {
  // Apply "btn-block" for XS screen sizes.
  .btn-block-xs {
    .btn-block;
  }
}

.btn-pill {
  border-radius: 9999px;
}
