{{#isFetching}}
  {{#collaborations}}
  <div class="weighted-collaboration weighted-collaboration-block">
    <i class="loading-spinner fa fa-spinner fa-pulse fa-2x fa-fw" aria-hidden="true"></i>
    <span class="sr-only">Loading</span>
  </div>
  {{/collaborations}}
{{/isFetching}}
{{^isFetching}}
  {{#collaborations}}
    <a class="weighted-collaboration" href="{{website}}">
      <img class="weighted-collaboration-logo" src="{{logo}}" alt="{{title}}">
    </a>
  {{/collaborations}}
{{/isFetching}}
