/*!
 * Copyright (c) 2022, 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '../../../_components/quicksilver/featured-footer.less';

.eclipsefdn-featured-footer {
  h2,
  .h2 {
    font-size: @featured-footer-h2-font-size;
  }

  p {
    margin: 2rem auto;
    max-width: 36em;
  }
  
  // Buttons
  .list-inline {
    display: flex;
    justify-content: center;

    li {
      padding: 0;

      a {
        min-width: 16rem;
      }
    }
  }

  // Darken each odd button for light featured story
  &.featured-story-light {
    .list-inline li:nth-child(odd) .btn-primary {
      color: @white;
      border-color: @black;
      background-color: @black;

      &:hover,
      &:active {
        background-color: lighten(@black, 10%);
      }
    }
  }

  // Lighten each odd button for dark featured story
  &.featured-story-dark {
    .list-inline li:nth-child(odd) .btn-primary {
      color: @black;
      border-color: @white;
      background-color: @white;

      &:hover,
      &:active {
        background-color: darken(@white, 10%);
      }
    }
  }
}
