/*!
 * Copyright (c) 2022, 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '../../../_components/quicksilver/featured-story.less';

@featured-story-jumbotron-bg: rgb(255, 160, 46);

// Jumbotron template

.featured-jumbotron-dark .jumbotron-item-highlighted {
    .btn-primary {
        color: @white;
        background-color: @black;
    }
}

.featured-story-jumbotron {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 4rem;
    margin-bottom: 4rem;
    background: @featured-story-jumbotron-bg;
    text-align: left;

    &-content-title {
        .h4;
        color: @white;
    }

    & &-content-body {
        color: @black;
        font-size: @font-size-md;
    }

    &-links {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    &-links-button {
        white-space: normal;
        max-width: 24rem;
    }
}

@media (min-width: @screen-md-min) {
    .featured-story-jumbotron {
        flex-direction: row;
        gap: 8rem;

        &-links {
            flex-direction: column;
            max-width: 24rem;
        }
    }
}
